html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:#c9a4df;

}
:root{
    --dark-purple:#441394;
    --regular-purple:#3a0737;
}

.container {
    margin: auto;
    text-align: center;
    padding: 0px 10px;
}

.container h1{
    background-color: var(--dark-purple);
    color:white;
    padding: 5px;
    border-radius: 5px;
}
label {
    font-size: 23px;
    font-weight: bold;
    color: var(--regular-purple);
}

label,
button {
    margin: 20px auto;
    display: block;

}

input {
    width: 70%;
    height: 30px;
    border: 1px solid black;
    padding-left: 10px;

}

button {
    color:white;
    background-color: var(--dark-purple);
    border: 1px solid black;
    font-weight: bold;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}


.foot {
    position: absolute;
    bottom: 0px;
    padding: 0px;
    width: 100%;
    color: white;
    background-color:var(--dark-purple);
    text-align: center;
}

.social-media {
    list-style-type: none;
    padding-inline-start: 0px;
}

.foot-links {
    display: inline;
    padding: 2px;

}

.media-link {
    text-decoration: none;
    color: white;
}

.link-icons {
    height: 20px;
    padding: 2px;
}



.social-media .hover-media:hover {
    font-weight: bold;
    color: black;
    background-color: yellow;

}

.link-icons:hover {
    background-color: yellow;
}
button:hover{
    background-color:rgb(109, 211, 68);
}
#res-message,#error-message
{
    font-size: 30px;
    font-weight: bold;
    color: red;
    
}